*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    float: left;
    width: 30%;
    background-color: #111;
    border-right: 3px solid #1f1f1f;
    color: whitesmoke
}
article{
    float: right;
    width: 70%;
    text-align: center;
    background-color: darkslategray;
    color: whitesmoke;
}
#counterSub{
    padding: 2px 6px;
}
#counterAdd {
    padding: 2px 4px;
}
#counterReset {
    padding: 2px 1px;
}